{% extends 'navbar.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artisan Login</title>
</head>
<body>

<h2>Artisan Login</h2>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<form method="post" action="{% url 'artisan_login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }} {{ form.username }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="submit" value="Login">
</form>

</body>
</html>


{% endblock %}
